* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.container {
  width: 100%;
  /* padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto; */
  max-width: 1146px;
  margin: auto;
}

.navbar {
  margin-top: 40px;
  /* margin-bottom: 39px; */
  width: 100%;
  display: inline-block;
  position: relative;
}

.logo {
  float: left;
  line-height: 70px;
}

.logo p {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 50px;
  /* font: normal normal 300 50px/57px Poppins; */
  letter-spacing: 0px;
  color: #7243ea;
  float: left;
}

.logo span {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 50px;
  /* font: normal normal 800 50px/57px Poppins; */
  letter-spacing: 0px;
  color: #7243ea;
  float: left;
}

.navigationheader {
  float: right;
  line-height: 70px;
  font-family: "Poppins", sans-serif;
}

.navigationheader ul {
  list-style: none;
  float: right;
  justify-content: center;
  margin: 0px;
}

.navigationheader ul li {
  display: inline-block;
  position: relative;
}
.navigationheader ul li:hover a::after,
.navigationheader ul li.active a::after{  
position: absolute;
height: 3px;
content: "";
width: 28px;
border-radius: 4px;
left: 50%;
margin-left: -14px;
background-color: #7243EA;
bottom: 0;
}
.navigationheader ul li a {
  padding: 0px 10px;
  color: #293846;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}


.myslider {
  margin-top: 39px;
}

.slideimage {
  width: 100%;
  position: relative;
}
.slick-prev i, 
.slick-next i{
  font-size: 30px;
  display: block;
  opacity: 1;
}
.slick-prev,
.slick-next {
  z-index: 999;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  font-size: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-next{
  right: 50px;
}
.slick-prev{
  left: 50px;
}
/* .fa {
  border: 3px solid #ffffff;
  opacity: 1;
} */

.content-main-header {
  margin-top: 80px;
  text-align: center;
}

.content-main-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.8px;
  opacity: 1;
  color: #293846;
}

.content-main-header ::after {
  border: 3px solid #ff3d44;
  content: "";
  display: block;
  width: 50px;
  margin: 12px auto;
}

.timeline {
  margin-top: 80px;
  text-align: left;
  /* font: normal normal medium 18px/29px Poppins; */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  color: #676a6c;
}

.description {
  margin-top: 60px;
}

.description span {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #293846;
}

.description p {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #676a6c;
  padding-bottom: 15px;
}

.list-header {
  margin-top: 60px;
}

.list-header h2 {
  text-align: left;
  /* font: normal normal 600 22px/33px Poppins; */
  letter-spacing: 0.66px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #293846;
  opacity: 1;
}

.course-list {
  margin-top: 20px;
  border-bottom: 2px solid #fff00050;
  padding-bottom: 80px;
}

.course-list ul {
  padding-left: 25px;
}

.course-list ul li {
  text-align: left;
  /* font: normal normal medium 18px/43px Poppins; */
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #676a6c;
  padding-bottom: 10px;
}

.card-section-title {
  margin-top: 81px;
  text-align: center;
}

.card-section-title h2 {
  letter-spacing: 0.8px;
  color: #293846;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.card-section-title ::after {
  border: 3px solid #ff3d44;
  content: "";
  display: block;
  width: 50px;
  margin: 12px auto;
}

.cardlist {
  display: inline-block;
  width: 100%;
}

.card-block {
  float: left;
  width: 33.33%;
}

.card-container {
  padding: 15px;
}

.card {
  /* padding: 15px; */
  background: #f4f6fc 0% 0% no-repeat padding-box;
  border-radius: 15px;
  margin: 15px;
}

.card img {
  width: 100%;
}

.card-timeline p {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  color: #676a6c;
  margin-top: 30px;
}

.card-title {
  text-align: left;
  /* font: normal normal 600 18px/28px Poppins; */
  letter-spacing: 0.36px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #293846;
  opacity: 1;
  margin-top: 12px;
}

.card-text p {
  margin-top: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #676a6c;
}

.card-text span {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #293846;
}

.card-button button {
  margin-top: 30px;
  /* padding-left: 20px; */
  background: #7243ea 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  color: white;
}

.footer{
  width: 100%;
  background: #7243EA;
  margin-top: 80px;
}

.footer-navbar{
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}

.footer-link{
  float: left;
}

.footer-link ul{
  list-style: none;
  float: left;

}

.footer-link ul li{
  display: inline-block;
  padding: 0px 10px;
  }

.footer-link ul li a{
  color: #F4F6FC;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.32px;
}

.social-media-link{
      float: right;
}

.social-media-link ul{
  list-style: none;
  display: inline-block;
}
.social-media-link ul li{
  float: left;
  padding: 0px 10px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #F4F6FC;
}

.copyright{
  margin-top: 46px;
  text-align: center;
  border-top: 2px solid white;
  padding-top: 10px;
}

.copyright span{
padding-top: 15px;
font-size: 16px;
font-family: "Poppins", sans-serif;
letter-spacing: 0.64px;
color: #F4F6FC;
opacity: 1;
}

.hamburger {
  position: relative;
  height: 26px;
  width: 25px;
  cursor: pointer;
  z-index: 99;
  top: 26px;
  box-sizing: border-box;
  display: none;
  float: right;
  margin-left: 32px;
}


.bar{
  background: black;
  display: block;
  height: 2px;
  margin: 5px 0;
  display: block;
  width: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px;
  }


  .hamburger{
    display: block;
  }
  #toggle{
    display: none;
  }

  .logo p, .logo span{
    font-size: 22px;
  }

  .navbar{
    
    margin-top: 0px;
  }

  .myslider{
      margin-top: 0px;
  }

  .navigationheader  ul{
    position: relative;
    display: grid;
    margin-top: 60px;
   
  }

  .card-block {
    width: 100%;
  }

  .content-main-header{
    margin-top: 20px;

  }

  .content-main-header h2{
    font-size: 22px;
  }

  .timeline{
     margin-top: 20px;
  }

  .description {
    margin-top: 20px;
}

.footer-link ul li {
  display: inline-block;
  padding: 0px 10px;
  width: 100%;
  text-align: center;
  padding: 8px;
}

.copyright span {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #F4F6FC;
}

.social-media-link{
     float: none;
     text-align: center;
     

}

.copyright, .footer{
  margin-top: 0px;
}


.social-media-link ul{
  margin: 40px 0px;
}

.card-section-title h2{
  font-size: 22px;
}

.card-button button{
  padding : 10px;
  width: 100%;
} 

}

