@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden;  */
}
.wrapper {
  width: 100%;
  margin-top: 10px;
  left: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #ffffff;
  opacity: 1;
  overflow-x: hidden;
}

.nav {
  width: 70%;
  margin: 30px auto;
}

.mylist {
  display: inline-block;
  vertical-align: middle;
}

.mylist ul {
  list-style: none;
  letter-spacing: 0.32px;
  display: flex;
}

.mylist ul li {
  margin: 0px 10px;
}

.mylist ul li a {
  text-align: left;
  text-decoration: none;
  color: #293846;
  letter-spacing: 0.32px;
  opacity: 1;
}

.mylist ul li.active {
  border-bottom: 2px solid #7243ea;
  opacity: 1;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}



.slideimage {
  width: 100%;
  position: relative;
}




.myheading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
  color: #293846;
  opacity: 1;
  margin-top: 80px;
  font-size: 40px;
}

.timeheadline {
  text-align: left;
  font: normal normal medium 18px/29px poppins;
  letter-spacing: 0px;
  color: #676a6c;
  opacity: 1;
  margin-top: 80px;
}

.myborder {
  border-bottom: 5px solid #ff3d44;
  width: 3%;
  margin: 5px auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid #FFF;
}

.description {
  margin-top: 60px;
  text-align: justify;
  line-height: 30px;
}

.description span {
  /* text-align: left; */
  font-weight: bold;
}

.description p {
  text-align: left;
  font: normal normal normal 16px/26px poppins;
  letter-spacing: 0px;
  color: #676a6c;
  padding: 7px;
}

.myulheader {
  text-align: left;
  font: normal normal 600 22px/33px Poppins;
  letter-spacing: 0.66px;
  color: #293846;
  opacity: 1;
  margin-top: 60px;
}

.myul {
  margin-top: 20px;
  text-align: left;
  font: normal normal medium 18px/43px Poppins;
  letter-spacing: 0px;
  color: #676a6c;
  line-height: 2;
}

ul.a {
  list-style-type: disc;
}

.cardtitle {
  margin-top: 161px;
  text-align: center;
  font: normal normal bold 40px/48px Poppins;
  letter-spacing: 0.8px;
  color: #293846;
  opacity: 1;
}

.card {
  margin-top: 80px;
  width: 30%;
  /* border-radius: 15px; */
  float: left;
  margin-left: 30px;
  background: #f4f6fc 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  padding-bottom: 30px;
}

.card-image {
  /* background: #7243EA 0% 0% no-repeat padding-box; */
  background-image: url("../assets/NoPath.png");
  border-radius: 15px 15px 0px 0px;
  /* opacity: 0.2; */
  background-repeat: no-repeat;
  width: 100%;
}

.card-time {
  text-align: left;
  font: normal normal medium 12px/29px Poppins;
  letter-spacing: 0px;
  color: #676a6c;
  opacity: 1;
  padding: 20px;
}

.card-head {
  text-align: left;
  font: normal normal 600 18px/28px Poppins;
  letter-spacing: 0.36px;
  color: #293846;
  opacity: 1;
  margin-left: 20px;
  margin-top: 0px;
  padding: 0px;
}

.card-description {
  margin-top: 20px;
  padding: 0px 20px;
  /* margin-left: 20px; */
  text-align: left;
font: normal normal normal 16px/29px Poppins;
letter-spacing: 0px;
color: #676A6C;
  /* height: 110px; */
}

.card-span {
  text-align: left;
  font: normal normal medium 16px/29px Poppins;
  letter-spacing: 0px;
  color: #293846;
}

.card-button {
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 4px;
  width: 90%;
  font: normal normal medium 14px/20px Poppins;
  letter-spacing: 0.84px;
  color: #fff;
  opacity: 1;
  background-color: #7243ea;
  padding: 18px 96px;
}

.card-body span {
  text-align: left;
  font: normal normal medium 16px/29px Poppins;
  letter-spacing: 0px;
  color: #293846;
}


.footer {
  background: #7243ea 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 80px;
  width: 100%;
  float: left;
  
}

.footerul{
  display: inline-block;
  vertical-align: middle;
  /* float: left; */

}

 .footerul ul{ 
 display: flex; 
 padding: 30px;
 list-style: none;
 
 }

 .footerul ul li {
  margin: 0px 10px;
}


.footerul ul li a {
  text-align: left;
  text-decoration: none;
  color: #F4F6FC;
  opacity: 1;
  font: normal normal normal 16px/25px Poppins;
letter-spacing: 0.32px;
} 

.fa-ul{
  color: white;
  display: flex;
  padding: 30px;
  padding-right: 0px;
}

.footericon{
  display: inline-block;
  float: right;
}

.fa-ul li{
  text-align: left;
font: normal normal normal 18px/24px Font Awesome 5 Brands;
letter-spacing: 0.72px;
color: #F4F6FC;
opacity: 1;
display: inline-block;
  left: 0px;
}

.copyright{
font: normal normal normal 16px/25px Poppins;
letter-spacing: 0.64px;
color: #F4F6FC;
opacity: 1;
padding: 10px 0px 0px 19px;
text-align: center;
}



        /* Responsive */
  
        .hamburger {
          position: absolute;
          height: 26px; 
           padding: 0px;
          width: 25px;
          cursor: pointer;
          z-index: 99;
          right: 25px;
          top: 26px;
          box-sizing: border-box;
          display: none;
        }

        .bar{
          background: black;
          display: block;
          height: 2px;
          margin: 5px 0;
          display: block;
          width: 25px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        } 
      


 @media only screen and (max-width: 768px) {
     
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .mylist {
    /* display: none; */
  }

  .mylist ul{
     display: block;
     text-align: center;
     list-style: none;
     letter-spacing: 0.32px;
     margin-bottom: 10px;
  }

  .mylist ul li.active{
    border-bottom: 2px solid #7243ea;
    opacity: 1;
    width: max-content;
    margin: 0px auto;
  }
    
} 


.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}